* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .5s ease;
}
.fancybox__container * {
  transition: none !important;
}
ul , ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-ExtraBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.content {
  max-width: calc(1440px + 16px * 2);
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Geometria", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  .hero-swiper-block  {
    height: 730px;
    width: 100%;
    position: relative;
    .hero-swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        position: relative;
        .slide-container {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .content {
          position: relative;
          z-index: 1;
          display: flex;
          justify-content: flex-end;
          height: 100%;
          .slide-info-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 88px;
            align-items: flex-end;
            justify-content: flex-end;
            padding-bottom: 58px;
            @media (max-width: 768px) {
              gap: 50px;
              padding-bottom: 200px;
              align-items: center;
            }
            .adm {
              display: flex;
              padding: 20px;
              align-items: center;
              gap: 30px;
              width: fit-content;
              border-radius: 5px;
              border: 1px solid rgba(255, 255, 255, 0.40);
              cursor: pointer;
              &:hover {
                border-radius: 5px;
                background: #4D4D4D;
              }
              p {
                width: 146px;
                color: var(--Color-FFFFFF, #FFF);
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              span {
                color: var(--Color-FFFFFF, #FFF);
                text-align: center;
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                @media (max-width: 768px) {
                  font-size: 20px;
                }
              }
            }
            h2 {
              color: var(--Color-FFFFFF, #FFF);
              text-align: right;
              font-size: 100px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%; /* 100px */
              @media (max-width: 768px) {
                font-size: 50px;
              }
            }
            .subtitle {
              width: 475px;
              color: var(--Color-FFFFFF, #FFF);
              text-align: right;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%; /* 30px */
              @media (max-width: 768px) {
                font-size: 20px;
                text-align: center;
                width: unset;
              }
            }
          }
        }

      }

    }
    .content-container{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-bottom: 58px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 7;
      .controls {
        display: flex;
        gap: 20px;
        @media (max-width: 768px) {
          justify-content: center;
        }
        .hero-swiper-pagination {
          display: flex;
          gap: 20px;
          width: fit-content;
          align-items: center;
          .swiper-pagination-bullet {
            background: unset;
            margin: 0;
            display: flex;
            width: 30px;
            height: 30px;
            padding: 8px 4px 7px 3px;
            justify-content: center;
            align-items: center;
            color: var(--Color-FFFFFF, #FFF);
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            opacity: 1;
            &.swiper-pagination-bullet-active {
              color: #A3CE10;
              transform: scale(1.3);
            }
            &:hover {
              transform: scale(1.3);
            }
          }
        }
        .hero-swiper-button-prev , .hero-swiper-button-next {
          width: 50px;
          height: 50px;
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

  }

