* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
}

.fancybox__container * {
  transition: none !important;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url(./src/fonts/Geometria-ExtraBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.content {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geometria", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.ripple {
  overflow: hidden;
  position: relative;
}
.ripple:hover::before {
  content: "";
  transform: scale(20);
  transition: 1s ease;
  bottom: -10px;
}
.ripple::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #A3CE10;
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 0;
  transition: 1s ease;
}

.green-btn {
  position: relative;
  border-radius: 5px;
  background: var(--Color-A3CE10, #A3CE10);
  display: flex;
  padding: 15px 20px 15px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.green-btn.full-width {
  width: 100%;
}
.green-btn.full-width::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 0;
  transition: 1s ease;
}
.green-btn.full-width:hover::before {
  content: "";
  transform: scale(80);
  transition: 1.5s ease;
  bottom: -10px;
}
.green-btn.full-width:hover span {
  color: #333;
}
.green-btn span {
  color: var(--Color-FFFFFF, #FFF);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  transition: 0.5s ease;
  font-family: "Geometria", sans-serif;
}
.green-btn:hover::before {
  content: "";
  transform: scale(20);
  transition: 1s ease;
  bottom: -10px;
}
.green-btn:hover span {
  color: #333;
}
.green-btn:hover span svg path {
  fill: #333;
}
.green-btn::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 0;
  transition: 1s ease;
}

.black-btn {
  position: relative;
  border-radius: 5px;
  background: #333;
  display: flex;
  padding: 15px 20px 15px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.black-btn.full-width {
  width: 100%;
}
.black-btn.full-width::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 0;
  transition: 1s ease;
}
.black-btn.full-width:hover::before {
  content: "";
  transform: scale(80);
  transition: 1.5s ease;
  bottom: -10px;
}
.black-btn.full-width:hover span {
  color: #333;
}
.black-btn span {
  color: var(--Color-FFFFFF, #FFF);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  transition: 0.5s ease;
  font-family: "Geometria", sans-serif;
}
.black-btn:hover::before {
  content: "";
  transform: scale(20);
  transition: 1s ease;
  bottom: -10px;
}
.black-btn:hover span {
  color: #333;
}
.black-btn:hover span svg path {
  fill: #333;
}
.black-btn::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 0;
  transition: 1s ease;
}

.hero-swiper-block {
  height: 730px;
  width: 100%;
  position: relative;
}
.hero-swiper-block .hero-swiper {
  width: 100%;
  height: 100%;
}
.hero-swiper-block .hero-swiper .swiper-slide {
  position: relative;
}
.hero-swiper-block .hero-swiper .swiper-slide .slide-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.hero-swiper-block .hero-swiper .swiper-slide .slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-swiper-block .hero-swiper .swiper-slide .content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 88px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 58px;
}
@media (max-width: 768px) {
  .hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container {
    gap: 50px;
    padding-bottom: 200px;
    align-items: center;
  }
}
.hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container .adm {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 30px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container .adm:hover {
  border-radius: 5px;
  background: #4D4D4D;
}
.hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container .adm p {
  width: 146px;
  color: var(--Color-FFFFFF, #FFF);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container .adm span {
  color: var(--Color-FFFFFF, #FFF);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container .adm span {
    font-size: 20px;
  }
}
.hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container h2 {
  color: var(--Color-FFFFFF, #FFF);
  text-align: right;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
}
@media (max-width: 768px) {
  .hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container h2 {
    font-size: 50px;
  }
}
.hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container .subtitle {
  width: 475px;
  color: var(--Color-FFFFFF, #FFF);
  text-align: right;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
}
@media (max-width: 768px) {
  .hero-swiper-block .hero-swiper .swiper-slide .content .slide-info-container .subtitle {
    font-size: 20px;
    text-align: center;
    width: unset;
  }
}
.hero-swiper-block .content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 7;
}
.hero-swiper-block .content-container .controls {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .hero-swiper-block .content-container .controls {
    justify-content: center;
  }
}
.hero-swiper-block .content-container .controls .hero-swiper-pagination {
  display: flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
}
.hero-swiper-block .content-container .controls .hero-swiper-pagination .swiper-pagination-bullet {
  background: unset;
  margin: 0;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 8px 4px 7px 3px;
  justify-content: center;
  align-items: center;
  color: var(--Color-FFFFFF, #FFF);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
}
.hero-swiper-block .content-container .controls .hero-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #A3CE10;
  transform: scale(1.3);
}
.hero-swiper-block .content-container .controls .hero-swiper-pagination .swiper-pagination-bullet:hover {
  transform: scale(1.3);
}
.hero-swiper-block .content-container .controls .hero-swiper-button-prev, .hero-swiper-block .content-container .controls .hero-swiper-button-next {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.hero-swiper-block .content-container .controls .hero-swiper-button-prev:hover, .hero-swiper-block .content-container .controls .hero-swiper-button-next:hover {
  transform: scale(1.2);
}

.timing {
  border-radius: 0 0 5px 5px;
  background: #333;
  padding: 50px 0;
}
.timing .content {
  display: flex;
  gap: 50px;
}
@media (max-width: 1250px) {
  .timing .content {
    flex-direction: column;
  }
}
.timing .content .line {
  min-height: 127px;
  height: 100%;
  width: 1px;
  background: #4D4D4D;
  flex-shrink: 0;
}
@media (max-width: 1250px) {
  .timing .content .line {
    display: none;
  }
}
.timing .content .col {
  max-width: 670px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1250px) {
  .timing .content .col {
    max-width: 100%;
  }
}
.timing .content .col .title {
  color: var(--Color-FFFFFF, #FFF);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 37.5px */
}
.timing .content .col .days {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .timing .content .col .days {
    flex-wrap: wrap;
  }
}
.timing .content .col .days .day-col {
  display: flex;
  flex-direction: column;
}
.timing .content .col .days .day-col p {
  color: var(--Color-A3CE10, #A3CE10);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
.timing .content .col .days .day-col span {
  color: var(--Color-FFFFFF, #FFF);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
.timing .content .col .days .col {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.timing .content .col .days .col p {
  color: var(--Color-A3CE10, #A3CE10);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
.timing .content .col .days .col span {
  color: var(--Color-FFFFFF, #FFF);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}

.chapter {
  padding-top: 70px;
}
@media (max-width: 768px) {
  .chapter {
    padding-top: 50px;
  }
}
.chapter .content .chapter-name {
  color: #B3B3B3;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
  text-transform: uppercase;
}

.goal {
  padding: 70px 0px;
  background-image: url("./src/images/goal-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media (max-width: 1024px) {
  .goal {
    padding: 50px 0px;
    background-image: none;
  }
}
.goal .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1024px) {
  .goal .content {
    gap: 50px;
  }
}
.goal .content h2 {
  color: var(--Color-A3CE10, #A3CE10);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
  max-width: 940px;
  width: 100%;
}
@media (max-width: 1450px) {
  .goal .content h2 {
    max-width: 640px;
  }
}
@media (max-width: 1024px) {
  .goal .content h2 {
    font-size: 30px;
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .goal .content h2 {
    font-size: 25px;
  }
}
.goal .content p {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  max-width: 940px;
  width: 100%;
}
@media (max-width: 1450px) {
  .goal .content p {
    max-width: 640px;
  }
}
@media (max-width: 1024px) {
  .goal .content p {
    font-size: 18px;
    max-width: 100%;
  }
}

.products {
  padding: 70px 0px;
}
@media (max-width: 1024px) {
  .products {
    padding: 50px 0px;
  }
}
.products .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1024px) {
  .products .content {
    gap: 50px;
  }
}
.products .content h2 {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
}
@media (max-width: 1024px) {
  .products .content h2 {
    font-size: 30px;
  }
}
.products .content .products-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.products .content .products-list .product-card {
  width: calc((100% - 90px) / 4);
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  background: #E6E6E6;
  height: 650px;
  position: relative;
}
@media (max-width: 1250px) {
  .products .content .products-list .product-card {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 768px) {
  .products .content .products-list .product-card {
    width: 100%;
    height: 450px;
  }
}
.products .content .products-list .product-card:hover .img-container img {
  transform: scale(1.2);
}
.products .content .products-list .product-card:hover .product-info .icon {
  opacity: 1;
  width: 24px;
  height: 24px;
  margin-top: 30px;
}
.products .content .products-list .product-card .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.products .content .products-list .product-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.products .content .products-list .product-card .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: var(--Color-FFFFFF, #FFF);
  padding: 30px;
  width: 100%;
}
.products .content .products-list .product-card .product-info .title {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 25px */
  margin-bottom: 30px;
}
.products .content .products-list .product-card .product-info .price {
  color: var(--Color-A3CE10, #A3CE10);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 25px */
}
.products .content .products-list .product-card .product-info .icon {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.news {
  padding: 70px 0px;
}
@media (max-width: 1024px) {
  .news {
    padding: 50px 0px;
  }
}
.news .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1024px) {
  .news .content {
    gap: 50px;
  }
}
.news .content h2 {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
}
@media (max-width: 1024px) {
  .news .content h2 {
    font-size: 30px;
  }
}
.news .content .news-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.news .content .news-list .news-card {
  width: calc((100% - 90px) / 4);
  border-radius: 5px;
  height: 500px;
  position: relative;
}
@media (max-width: 1250px) {
  .news .content .news-list .news-card {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 768px) {
  .news .content .news-list .news-card {
    width: 100%;
    height: 350px;
  }
}
.news .content .news-list .news-card.no-image {
  overflow: hidden;
}
.news .content .news-list .news-card.no-image:hover:before {
  animation: changeCircle 1s ease forwards;
}
.news .content .news-list .news-card.no-image:hover .product-info .date {
  color: #fff;
}
.news .content .news-list .news-card.no-image:hover .product-info .icon {
  background: #FFFFFF;
  border-radius: 5px;
}
.news .content .news-list .news-card.no-image:not(:hover):before {
  animation: shrinkCircle 1s ease forwards;
}
.news .content .news-list .news-card.no-image:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 1000px;
  position: absolute;
  bottom: -155px;
  left: -155px;
  background: #A3CE10;
  transition: 1s ease forwards;
  z-index: 1;
}
.news .content .news-list .news-card.no-image .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 30px;
  width: 100%;
  z-index: 2;
}
.news .content .news-list .news-card:hover .img-container img {
  transform: scale(1.2);
}
.news .content .news-list .news-card:hover .product-info .icon {
  opacity: 1;
  width: 24px;
  height: 24px;
  margin-top: 30px;
}
.news .content .news-list .news-card .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.news .content .news-list .news-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news .content .news-list .news-card .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: var(--Color-FFFFFF, #FFF);
  padding: 30px;
  width: 100%;
}
.news .content .news-list .news-card .product-info p {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 25px */
}
.news .content .news-list .news-card .product-info .date {
  color: var(--Color-A3CE10, #A3CE10);
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 15px */
  margin-bottom: 30px;
}
.news .content .news-list .news-card .product-info .icon {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.important {
  padding: 70px 0;
  background: #F6F6F6;
}
@media (max-width: 1250px) {
  .important {
    padding: 50px 0;
  }
}
.important .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1250px) {
  .important .content {
    gap: 50px;
  }
}
.important .content .head-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.important .content .head-row p {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
  text-transform: uppercase;
}
.important .content .important-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1250px) {
  .important .content .important-list {
    flex-direction: column;
    align-items: center;
  }
}
.important .content .important-list .ad-block {
  display: flex;
  width: 337px;
  height: 559px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  background: #1A7151;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .important .content .important-list .ad-block {
    width: 100%;
  }
}
.important .content .important-list .ad-block:hover .img-container {
  transform: translateY(-70px);
}
.important .content .important-list .ad-block:hover .ad-content .wrapper {
  height: 53px;
  margin-top: 30px;
}
.important .content .important-list .ad-block .img-container {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}
.important .content .important-list .ad-block .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.important .content .important-list .ad-block .ad-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  background: linear-gradient(0deg, rgb(26, 113, 81) 26%, rgba(255, 255, 255, 0) 100%);
}
.important .content .important-list .ad-block .ad-content p {
  color: var(--Color-FFFFFF, #FFF);
  font-family: var(--Geometria, Geometria);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 35px */
}
.important .content .important-list .ad-block .ad-content .wrapper {
  height: 0;
  overflow: hidden;
}
.important .content .important-list .ad-block .ad-content .ripple {
  display: flex;
  padding: 15px 20px 15px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 5px;
  background: var(--Color-FFFFFF, #FFF);
  border: none;
}
.important .content .important-list .ad-block .ad-content .ripple span {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
  position: relative;
  z-index: 1;
}
.important .content .important-list .video-block {
  flex: 1;
  height: 559px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  overflow: hidden;
}
@media (max-width: 1250px) {
  .important .content .important-list .video-block {
    width: 100%;
  }
}
.important .content .important-list .video-block video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.goverment-sites {
  padding: 70px 0;
}
@media (max-width: 1250px) {
  .goverment-sites {
    padding: 50px 0;
  }
}
.goverment-sites.gray-bg {
  background: #F6F6F6;
}
.goverment-sites .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1250px) {
  .goverment-sites .content {
    gap: 50px;
  }
}
.goverment-sites .content .title {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
  text-transform: uppercase;
}
.goverment-sites .content .goverment-swiper {
  height: 180px;
  width: 100%;
  overflow-x: unset;
}
.goverment-sites .content .goverment-swiper .swiper-slide {
  border-radius: 5px;
  background: #F6F6F6;
  overflow: hidden;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card {
  position: relative;
  padding: 20px;
  display: flex;
  height: 180px;
  align-items: center;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card:hover:before {
  animation: changeCircle 1s ease forwards;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card:hover .info a {
  color: #fff;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card:not(:hover):before {
  animation: shrinkCircle 1s ease forwards;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 1000px;
  position: absolute;
  bottom: -155px;
  left: -155px;
  background: #A3CE10;
  transition: 1s ease forwards;
  z-index: 1;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card.president {
  padding: 0;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card.president .image {
  height: 100%;
  width: 130px;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card.president .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom left;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card.president .info {
  padding: 20px;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card .image {
  width: 100px;
  height: 99px;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding-left: 20px;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card .info span {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  text-transform: uppercase;
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card .info p {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 25px */
}
.goverment-sites .content .goverment-swiper .swiper-slide .goverment-card .info a {
  color: var(--Color-A3CE10, #A3CE10);
  font-family: var(--Geometria, Geometria);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}
.goverment-sites .content .goverment-swiper-nav {
  display: flex;
  gap: 20px;
}
.goverment-sites .content .goverment-swiper-nav .goverment-next {
  cursor: pointer;
}
.goverment-sites .content .goverment-swiper-nav .goverment-next:hover {
  transform: scale(1.1);
}
.goverment-sites .content .goverment-swiper-nav .goverment-next:hover svg path {
  stroke: #A3CE10;
}
.goverment-sites .content .goverment-swiper-nav .goverment-prev {
  cursor: pointer;
}
.goverment-sites .content .goverment-swiper-nav .goverment-prev:hover {
  transform: scale(1.1);
}
.goverment-sites .content .goverment-swiper-nav .goverment-prev:hover svg path {
  stroke: #A3CE10;
}

.footer {
  padding: 70px 0;
  background: #333;
}
@media (max-width: 1250px) {
  .footer {
    padding: 50px 0;
  }
}
.footer .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer .content .row {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 1250px) {
  .footer .content .row {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .footer .content .row {
    display: flex;
    flex-direction: column;
  }
}
.footer .content .column {
  max-width: 298px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1024px) {
  .footer .content .column {
    max-width: 100%;
  }
}
.footer .content .column:first-child {
  max-width: 246px;
}
.footer .content .column .logos {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.footer .content .column .footer-title {
  color: #B3B3B3;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
}
.footer .content .column .social {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .content .column .chapter-name {
  color: #B3B3B3;
  font-family: var(--Geometria, Geometria);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.footer .content .column .location {
  color: var(--Color-FFFFFF, #FFF);
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .content .column .link {
  color: var(--Color-FFFFFF, #FFF);
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .content .column button {
  display: flex;
  padding: 10px 20px 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: var(--Color-FFFFFF, #FFF);
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
.footer .content .column .lang-list {
  display: flex;
  gap: 10px;
}
.footer .content .column .lang-list span {
  width: 1px;
  height: 25px;
  background: #4D4D4D;
  flex-shrink: 0;
}
.footer .content .column .lang-list p {
  color: #B3B3B3;
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.footer .content .column .lang-list p.active {
  color: #A3CE10;
}
.footer .content .column .lang-list p:hover {
  color: #fff;
}
.footer .content .line {
  width: 1px;
  background: #4D4D4D;
  height: 235px;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .footer .content .line {
    width: 100%;
    height: 1px;
  }
}
.footer .content .copy {
  color: #B3B3B3;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
}

.breadcrumbs {
  padding: 70px 0;
}
@media (max-width: 1250px) {
  .breadcrumbs {
    padding: 50px 0;
  }
}
.breadcrumbs .content ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1250px) {
  .breadcrumbs .content ul {
    gap: 30px;
  }
}
.breadcrumbs .content ul li:last-child a {
  color: #D6D6D6;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 15px */
  pointer-events: none;
  max-width: 190px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumbs .content ul li a {
  color: var(--Color-A3CE10, #A3CE10);
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 15px */
}

.catalog {
  padding: 70px 0;
}
@media (max-width: 1250px) {
  .catalog {
    padding: 50px 0;
  }
}
.catalog .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1250px) {
  .catalog .content {
    gap: 40px;
  }
}
.catalog .content .head-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .catalog .content .head-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
.catalog .content .head-row h1 {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
}
@media (max-width: 1024px) {
  .catalog .content .head-row h1 {
    font-size: 50px;
  }
}
.catalog .content .head-row .info {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #F6F6F6;
}
.catalog .content .head-row .info p {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.catalog .content .head-row .info p span {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.catalog .content .column-inner {
  display: flex;
  gap: 30px;
}
@media (max-width: 1024px) {
  .catalog .content .column-inner {
    flex-direction: column;
  }
}
.catalog .content .column-inner .column-mini {
  width: 338px;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .catalog .content .column-inner .column-mini {
    width: 100%;
  }
}
.catalog .content .column-inner .column-mini .catalog-mini-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  position: sticky;
  top: 10px;
}
.catalog .content .column-inner .column-mini .catalog-mini-container ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.catalog .content .column-inner .column-mini .catalog-mini-container ul li {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  text-transform: uppercase;
  cursor: pointer;
}
.catalog .content .column-inner .column-mini .catalog-mini-container ul li:hover {
  gap: 10px;
  color: #A3CE10;
}
.catalog .content .column-inner .column-mini .catalog-mini-container .banner {
  display: flex;
  height: 588px;
  position: relative;
}
.catalog .content .column-inner .column-mini .catalog-mini-container .banner .img {
  width: 100%;
  height: 100%;
}
.catalog .content .column-inner .column-mini .catalog-mini-container .banner .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.catalog .content .column-inner .column-mini .catalog-mini-container .banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.catalog .content .column-inner .column-mini .catalog-mini-container .banner .banner-content .attention {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.catalog .content .column-inner .column-mini .catalog-mini-container .banner .banner-content .attention span {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.catalog .content .column-inner .column-mini .catalog-mini-container .banner .banner-content .text {
  color: #333;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 37.5px */
}
.catalog .content .column-inner .column {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1250px) {
  .catalog .content .column-inner .column {
    gap: 50px;
  }
}
.catalog .content .column-inner .column .products-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.catalog .content .column-inner .column .products-list .product-card {
  width: calc((100% - 60px) / 3);
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  background: #E6E6E6;
  height: 650px;
  position: relative;
}
@media (max-width: 1300px) {
  .catalog .content .column-inner .column .products-list .product-card {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 768px) {
  .catalog .content .column-inner .column .products-list .product-card {
    width: 100%;
    height: 450px;
  }
}
.catalog .content .column-inner .column .products-list .product-card:hover .img-container img {
  transform: scale(1.2);
}
.catalog .content .column-inner .column .products-list .product-card:hover .product-info .icon {
  opacity: 1;
  width: 24px;
  height: 24px;
  margin-top: 30px;
}
.catalog .content .column-inner .column .products-list .product-card .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.catalog .content .column-inner .column .products-list .product-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.catalog .content .column-inner .column .products-list .product-card .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: var(--Color-FFFFFF, #FFF);
  padding: 30px;
  width: 100%;
}
.catalog .content .column-inner .column .products-list .product-card .product-info .title {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 25px */
  margin-bottom: 30px;
}
.catalog .content .column-inner .column .products-list .product-card .product-info .price {
  color: var(--Color-A3CE10, #A3CE10);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 25px */
}
.catalog .content .column-inner .column .products-list .product-card .product-info .icon {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 20px;
}
.pagination.left {
  justify-content: flex-start;
}
.pagination li {
  color: #333;
  text-align: center;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.pagination li.active {
  color: #A3CE10;
  transform: scale(1.2);
}
.pagination li:hover {
  color: #A3CE10;
  transform: scale(1.2);
}
.pagination li:hover svg path {
  stroke: #A3CE10;
}

.news-page {
  padding: 70px 0px;
}
@media (max-width: 1024px) {
  .news-page {
    padding: 50px 0px;
  }
}
.news-page .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1024px) {
  .news-page .content {
    gap: 50px;
  }
}
.news-page .content h1 {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
}
@media (max-width: 1024px) {
  .news-page .content h1 {
    font-size: 30px;
  }
}
.news-page .content .news-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.news-page .content .news-list .news-card {
  width: calc((100% - 90px) / 4);
  border-radius: 5px;
  height: 500px;
  position: relative;
}
@media (max-width: 1250px) {
  .news-page .content .news-list .news-card {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 768px) {
  .news-page .content .news-list .news-card {
    width: 100%;
    height: 350px;
  }
}
.news-page .content .news-list .news-card.no-image {
  overflow: hidden;
}
.news-page .content .news-list .news-card.no-image:hover:before {
  animation: changeCircle 1s ease forwards;
}
.news-page .content .news-list .news-card.no-image:hover .product-info .date {
  color: #fff;
}
.news-page .content .news-list .news-card.no-image:hover .product-info .icon {
  background: #FFFFFF;
  border-radius: 5px;
}
.news-page .content .news-list .news-card.no-image:not(:hover):before {
  animation: shrinkCircle 1s ease forwards;
}
.news-page .content .news-list .news-card.no-image:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 1000px;
  position: absolute;
  bottom: -155px;
  left: -155px;
  background: #A3CE10;
  transition: 1s ease forwards;
  z-index: 1;
}
.news-page .content .news-list .news-card.no-image .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  padding: 30px;
  width: 100%;
  z-index: 2;
}
.news-page .content .news-list .news-card:hover .img-container img {
  transform: scale(1.2);
}
.news-page .content .news-list .news-card:hover .product-info .icon {
  opacity: 1;
  width: 24px;
  height: 24px;
  margin-top: 30px;
}
.news-page .content .news-list .news-card .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.news-page .content .news-list .news-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.news-page .content .news-list .news-card .product-info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: var(--Color-FFFFFF, #FFF);
  padding: 30px;
  width: 100%;
}
.news-page .content .news-list .news-card .product-info p {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 25px */
}
.news-page .content .news-list .news-card .product-info .date {
  color: var(--Color-A3CE10, #A3CE10);
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 15px */
  margin-bottom: 30px;
}
.news-page .content .news-list .news-card .product-info .icon {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.anchor-links .content {
  display: flex;
  gap: 10px;
}
.anchor-links .content a {
  border-radius: 5px;
  background: #F6F6F6;
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.anchor-links .content a span {
  position: relative;
  z-index: 1;
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 22.5px */
}
.anchor-links .content a.active {
  background: #A3CE10;
}
.anchor-links .content a.active span {
  color: #FFFFFF;
}

.contacts {
  padding: 70px 0px;
  border-bottom: 1px solid #E6E6E6;
}
@media (max-width: 1024px) {
  .contacts {
    padding: 50px 0px;
  }
}
.contacts .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1024px) {
  .contacts .content {
    gap: 50px;
  }
}
.contacts .content h1 {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
}
@media (max-width: 1024px) {
  .contacts .content h1 {
    font-size: 40px;
  }
}
.contacts .content .contacts-columns {
  display: flex;
  gap: 30px;
}
@media (max-width: 1250px) {
  .contacts .content .contacts-columns {
    flex-direction: column;
  }
}
.contacts .content .contacts-columns .column {
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1250px) {
  .contacts .content .contacts-columns .column {
    width: 100%;
  }
}
.contacts .content .contacts-columns .column .title {
  color: var(--Color-A3CE10, #A3CE10);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  text-transform: uppercase;
}
.contacts .content .contacts-columns .column .chapter {
  color: #B3B3B3;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.contacts .content .contacts-columns .column .line {
  width: 100%;
  height: 1px;
  background: #E6E6E6;
  flex-shrink: 0;
}
.contacts .content .contacts-columns .column .location {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  font-family: var(--Geometria, Geometria);
}
.contacts .content .contacts-columns .column .link {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.contacts .content .contacts-columns .column .timing-block {
  display: flex;
  flex-direction: column;
}
.contacts .content .contacts-columns .column .timing-block.horisontal {
  flex-direction: row;
  gap: 20px;
}
.contacts .content .contacts-columns .column .timing-block p {
  color: var(--Color-A3CE10, #A3CE10);
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.contacts .content .contacts-columns .column .timing-block span {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.map {
  padding: 70px 0 0;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1024px) {
  .map {
    gap: 50px;
    padding: 50px 0 0;
  }
}
.map .content h2 {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
}
@media (max-width: 1024px) {
  .map .content h2 {
    font-size: 40px;
  }
}
.map .map-container {
  height: 823px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 1250px) {
  .map .map-container {
    height: 600px;
  }
}
.map .map-container div {
  height: 100%;
}
.map .map-container iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.structure {
  padding: 70px 0px;
  border-bottom: 1px solid #E6E6E6;
}
@media (max-width: 1024px) {
  .structure {
    padding: 50px 0px;
  }
}
.structure .content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 1024px) {
  .structure .content {
    gap: 50px;
  }
}
.structure .content h2 {
  color: #333;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 70px */
}
@media (max-width: 1024px) {
  .structure .content h2 {
    font-size: 40px;
  }
}
.structure .content .structure-columns {
  display: flex;
  gap: 30px;
}
@media (max-width: 1250px) {
  .structure .content .structure-columns {
    flex-direction: column;
  }
}
.structure .content .structure-columns .col {
  width: calc((100% - 120px - 2px) / 3);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1250px) {
  .structure .content .structure-columns .col {
    width: 100%;
  }
}
.structure .content .structure-columns .col .structure-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.structure .content .structure-columns .col .structure-card .title {
  color: var(--Color-A3CE10, #A3CE10);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  text-transform: uppercase;
}
@media (max-width: 1250px) {
  .structure .content .structure-columns .col .structure-card .title {
    font-size: 25px;
  }
}
.structure .content .structure-columns .col .structure-card .name {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.structure .content .structure-columns .col .structure-card .structure-chapter {
  color: #B3B3B3;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
  text-transform: uppercase;
}
.structure .content .structure-columns .col .structure-card a {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.structure .content .structure-columns .col .structure-card .text {
  color: #333;
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.structure .content .structure-columns .col .info-block {
  border-radius: 5px;
  border: 1px solid #333;
  background: #333;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.structure .content .structure-columns .col .info-block .info-chapter {
  color: #B3B3B3;
  font-family: var(--Geometria, Geometria);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 15px */
  text-transform: uppercase;
}
.structure .content .structure-columns .col .info-block p {
  color: var(--Color-FFFFFF, #FFF);
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.structure .content .structure-columns .col .info-block p a {
  color: var(--Color-FFFFFF, #FFF);
  font-family: var(--Geometria, Geometria);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.structure .content .structure-columns .line {
  min-height: 20px;
  height: auto;
  width: 1px;
  flex-shrink: 0;
  background: #E6E6E6;
}
@media (max-width: 1250px) {
  .structure .content .structure-columns .line {
    display: none;
  }
}
.structure .content .structure-columns .horisontal-line {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: #E6E6E6;
}

@keyframes changeCircle {
  from {
    background: transparent;
    width: 5px;
    height: 5px;
  }
  to {
    background: #A3CE10;
    width: 938px;
    height: 938px;
  }
}
@keyframes shrinkCircle {
  from {
    background: #A3CE10;
    width: 938px;
    height: 938px;
  }
  to {
    background: transparent;
    width: 5px;
    height: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
